# Facebook Pixel (Meta Pixel)
# Get your Pixel ID from Facebook Events Manager: https://business.facebook.com/events_manager
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=
# Google ID (either GA4 measurement id "G-XXXX" or GTM container id "GTM-XXXX")
NEXT_PUBLIC_GOOGLE_ID=
